<%const d = new Date();%>
<%let year = d.getFullYear();%>

<footer>&copy Copyrights Duygu Kara  <%= year %></footer>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="page.js"></script>

</body>
</html>