    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar">
        <div class="nav-flex">
            <a id="home-link" href="/">Home</a>
            <div class="add-flex">
                <p>Create A New Post</p>
                <img src="../assests/svgs/plus.svg" alt="plus shape for add new blog">
            </div>
        </div>
        </nav>